@use "styles/global/variables.scss";

.descriptionSectionContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

.warningContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: variables.$color-text-secondary;
}
