@use "styles/global/variables.scss";

.imageContainer {
  z-index: -1;
  right: 0;
  top: 0;
  width: 60%;
  min-width: 750px;
}

.vignetteLeft {
  top: 0;
  left: 0;
  background: linear-gradient(
    270deg,
    transparent 80%,
    variables.$color-background-primary 100%
  );
  height: 100%;
  width: 100%;
}

.vignetteBottom {
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 70%,
    variables.$color-background-primary 100%
  );
  height: 100%;
  width: 100%;
}

.vignetteRadial {
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at 50% 50%,
    transparent 40%,
    variables.$color-background-primary 200%
  );
  height: 100%;
  width: 100%;
}

.seriesBackgroundImg {
  width: 100%;
}
