.premiere-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 200px auto 0;

  img {
    width: 70%;
  }

  p {
    text-align: center;
    font-size: larger;
  }
}

.button-container {
  display: flex;
  gap: 25px;
}
