@use "../global/variables.scss";

.navigation-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 30px 2%;
  width: 5%;
  z-index: 99999;
}
.icons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-icon {
  color: variables.$color-text-primary;
}
.sidebar-icon {
  color: variables.$color-text-secondary;
}
