@use "../global/variables.scss";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: auto;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: fit-content;
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.newMovies-carousel-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.newMovies-carousel-element-title {
  text-align: start;
  text-decoration: none;
  color: variables.$color-text-primary;
  font-size: large;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
}

.top-viewers-number {
  left: 0;
  bottom: 0;
  transform: translate(-75%); // Movement of the number to left and right
  z-index: -1;
  vertical-align: bottom;
}

.top-viewers-link {
  display: inline-block;
}
