@use "styles/abstracts/variables";

.button {
  color: variables.$color-text-primary;
  font-size: medium;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;

  &.gray {
    background: variables.$color-background-secondary;
  }

  &.cyber {
    background: variables.$color-cyber-gradient;
  }
}
