@use "styles/global/variables.scss";

.cyberText {
  background: variables.$color-cyber-gradient;
  color: variables.$color-background-primary;
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  font-style: italic;
  -webkit-text-stroke: 3px transparent;

  &.middle {
    font-size: 28px;
    padding-right: 3px;
  }
  &.big {
    font-size: 180px;
    padding-right: 22px;
  }
}
