$color-text-primary: white;
$color-text-secondary: #bababa;
$color-background-primary: #09090c;
$color-background-secondary: #1e1e1e;

$color-cyber-start: #6a11cb;
$color-cyber-end: #2575fc;

$color-scroll-bar: #365fa5;

$color-cyber-gradient: linear-gradient(
  90deg,
  $color-cyber-start,
  $color-cyber-end
);
