$color-text-primary: white;
$color-text-secondary: #bababa;
$color-background-primary: #09090c;
$color-background-secondary: #1e1e1e;

$color-cyber-gradient: linear-gradient(90deg, #6a11cb, #2575fc);
