@use "styles/ui/ImageBackgroundVignette.module.scss";

.premiereContainer {
  min-width: 30%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 200px auto 0;

  img {
    min-width: 150px;
    width: 70%;
  }

  p {
    text-align: center;
    font-size: larger;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 25px;

  a {
    margin: 0 auto;
  }
}
