@use "styles/ui/ImageBackgroundVignette.module.scss";

.premiereContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 200px auto 0;

  img {
    min-width: 250px;
    width: 70%;
  }

  p {
    text-align: center;
    font-size: larger;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
