@use "styles/ui/ImageBackgroundVignette.module.scss";
@import "styles/abstracts/mixins";

.blockContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 300px;
  width: 50%;
  margin: 50px 0;
}

.briefCharacteristics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 40px;
  align-items: center;

  h6 {
    font-size: large;
    font-weight: 300;
    text-wrap: nowrap;
  }
}

.charsSectionContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-transform: capitalize;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 25px;
}

.imgLogo {
  width: 75%;
}

.imgReplacement {
  width: 75%;
  font-size: 75px;
}
