@use "styles/partials/carousels";
@use "styles/abstracts/variables";

.newMoviesCarouselElement {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & .ratingBlock {
    top: 15px;
    left: 15px;
    padding: 2px 10px;
    background: variables.$color-cyber-gradient;
    color: variables.$color-text-primary;
    font-weight: 300;
    border-radius: 5px;
  }

  & .ratingImageContainer {
    width: fit-content;
    margin: 0 auto;
  }
}

.newMoviesCarouselElementTitle {
  text-align: start;
  text-decoration: none;
  color: variables.$color-text-primary;
  font-size: large;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
}
