@use "styles/partials/carousels";

.topViewersNumber {
  left: 0;
  bottom: 0;
  transform: translate(-75%); // Movement of the number to left and right
  z-index: -1;
  vertical-align: bottom;
}

.topViewersLink {
  display: inline-block;
}
