@use "./global/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  background-color: variables.$color-background-primary;
  color: variables.$color-text-primary;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}
